.allMenu {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 6px 0px;
  @include min-for-desktop-up() {
    padding: 26px 0px;
  }
}
.menuDark {
  background-color: transparent;
}
.menuTransparent {
  background-color: none;
}
.logosite {
  position: relative;
  top: 5px;
  left: 15px;
  @include max-for-desktop-up() {
    left: 0px;
  }
}

.line_menu {
  display: flex;
  justify-content: space-between;
  .menuhamburger,
  .cart_icon {
    padding: 10px 25px 10px 15px;
    .socialista {
      padding: 0px;
      list-style: none;
      position: absolute;
      display: block;
      margin-left: -105px;
      img {
        width: 20px;
        height: auto;
      }
      display: flex;
      justify-content: center;
      li {
        margin: 0px 5px 0px 5px;
        @include transicao;
        border-radius: 100px;
        &:hover {
          position: relative;
          top: -3px;
          @include shadow1;
          @include transicao;
        }
      }

      @include max-for-desktop-up() {
        display: none;
      }
    }
  }
  .qtd_cart {
    position: absolute;
    font-size: 12px;
    background-color: $secondary;
    height: 15px;
    display: flex;
    margin-top: -5px;
    margin-left: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    width: 15px;
    border-radius: 100px;
  }
}
.menu_site {
  display: flex;
  justify-content: space-between;
  ul {
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    @include min-for-desktop-up() {
      position: relative;
      top: 10px;
    }
  }
  li {
    margin: 0 5px;
    a {
      padding: 0px;
      letter-spacing: 1px;
      font-weight: 300;
      size: 13px;
      @include transicao;
      @include max-for-desktop-up() {
        font-size: 11px;
        font-weight: 600;
        margin-top: 15px;
      }
    }
  }
  .menu_dark {
    li {
      a {
        color: #fff;
        @include transicao;
        &:hover {
          @include transicao;
          color: #fff963;
        }
      }
    }
  }
}
.allMenu {
  position: absolute;
  z-index: 9;
}
.stickyHome {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary;
  padding: 15px 0px !important;
  @include shadow2;
}

.stickyPages {
  position: fixed;
  top: 0;
  z-index:9;
  width: 100%;
  margin:0px !important;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-bottom: 1px solid rgba($gray, 0.1);
  padding: 15px 0px !important;
  @include shadow2;
}
.menu_white {
  padding: 5px 0px;
  li {
    a {
      color: #191919 !important;
      @include transicao;
      &:hover {
        @include transicao;
        color: $primary_hover !important;
      }
    }
  }
}
.headerpages {
  background-color: #fff;
  height: 60px;
}
.stickyPages .allMenu{
    margin-top:-35px
}
.logowhite {
  img {
    max-width: 150px;
    height: auto;
  }
}
.detalheheader{
  height: 180px;
  background: rgb(119,225,27);
background: linear-gradient(90deg, rgba(119,225,27,1) 0%, rgba(0,184,230,1) 100%);
margin-top:35px;
margin-bottom: 30px;
display: flex;
align-items: center;
h3{
  color:#fff;
padding:0px 15px;
}
}
.page-title{
  display: none;
}
