@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin max-for-tablet-landscape-up {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin max-for-desktop-up {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin min-for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin transicao {
  transition: background-color 0.4s ease-out;
}
@mixin shadow1 {
      -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    }


    @mixin buttonDefault($background, $background_hover, $colorText, $colorText_hover){
      color: $colorText;
      display: inline-block;
      text-align: center;
      margin-top: 16px;
      background: $background;
      padding: 12px 22px;
      transform: uppercase;
      @include transicao;
      @include shadow1;

      &:hover {
        @include transicao;
        text-decoration: none;
        color: $colorText_hover;
        background-color: $background_hover;
        box-shadow: none;
      }

    }
