.slide_select {
  height: 360px;
  width: 100%;
  padding: 90px 0px 30px 0px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center !important;
  .textoSlide {
    color: #fff;
    text-align: left;

    h1,
    h2,
    h3,
    h4 {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    p {
      font-size: 17px;
      letter-spacing: 0px;
      font-weight: 400;
      margin-top: 16px;
    }
    a {
      color: #fff;
      display: inline-block;
      border: 1px solid rgba($primary_hover, 0.5);
      text-align: center;
      margin-top: 16px;
      background: $primary;
      padding: 12px 22px;
      transform: uppercase;
      @include transicao;
      @include shadow1;

      &:hover {
        @include transicao;
        text-decoration: none;
        color: $fonte;
        background-color: $primary_hover;
        box-shadow: none;
      }
    }
  }

  @include for-tablet-portrait-up() {
    height: 480px;
    padding: 120px 0px 30px 0px;
  }
  @include min-for-desktop-up() {
    height: 580px;
    padding: 200px 0px 0px 0px;
    h2 {
      font-size: 52px;
      font-weight: 300;
    }
    p {
      font-size: 18px;
      letter-spacing: 0px;
      font-weight: 300;
      margin-top: 16px;
    }
    a {
      color: #fff;
      display: inline-block;
      border: 1px solid rgba($primary_hover, 0.5);
      text-align: center;
      margin-top: 16px;
      background: $primary;
      padding: 12px 22px;
      transform: uppercase;
      @include transicao;
      @include shadow1;

      &:hover {
        @include transicao;
        text-decoration: none;
        color: $fonte;
        background-color: $primary_hover;
        box-shadow: none;
      }
    }
  }
}
